* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

/* COLOR PALETTE */
:root {
    --dark-green:#009689;
    --light-green:#D8F9BC;
    --light:#FFFEFF;
    --gray:#DBDAD4;
    --light-gray:#EBE9EB;
    --dark--gray:#989798;
    --black:black;
    --light-blue:#8EDAFD;
}

.container-big {
    height: 100vh;
    background-color: var(--gray);
    position: relative;
}

.top-bar {
    height: 100px;
    width: 100%;
    background-color: var(--dark-green);
    position: absolute;
    z-index: 0;
}

.container-main {
    height: 90%;
    width: 80%;
    margin: 0 auto;
    background-color: var(--light);
    position: relative;
    z-index: 1;
    top: 5%;
    display: flex;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
}

.col-1 {
    flex-basis: calc(100% / 12)
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-grow {
    flex-grow: 1;
}